<div class="container">
<hr class="my-5">
  <h1>Welcome to your own page !</h1>
  <p>Find me in app/views/welcome/show.html.erb</p>
  <h2>Bienvenue à toi <%= params["name"] %> ! Fais comme chez toi :o</h2>
</div>